<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/estoque.css">
  <title>Vizualização Estoque ERP</title>
</head>
<body>
  <section>
    <h1 class="title">Adicionar Item ao Estoque</h1>
    <div  class="navsection">
      <p class="title">ERP Decision Solution</p>
      <ul>
        <li><a id="irparahome">Home</a></li>
        <li><a id="irparaestoque">Estoque</a></li>
      </ul>
    </div>
    <div class="navsectionsub">
      <ul>
        <li><a id="irparaVizuEstoque">Vizualizar Estoque</a></li>
        <li><a id="irparaRemItens">Remover Itens</a></li>
        <li><a id="irparaFichaProduto">Fazer ficha de Produto</a></li>
      </ul>
    </div>
  </section>
  <section>
    <form id="formProduto">
        <label for="cod">Código</label>
        <input type="text" name="codProduto" id="codProduto">
        <br>
        <label for="nome">Nome</label>
        <input type="text" name="nomeProduto" id="nomeProduto">
        <br>
        <label for="desc">Descrição</label>
        <input type="text" name="descProduto" id="descProduto">
        <br>
        <label for="qtde">Quantidade</label>
        <input type="text" name="qtdeProduto" id="qtdeProduto">

        <button type="submit">Enviar</button>
    </form>
  </section>
  <script>
    const { ipcRenderer } = require('electron');
    document.getElementById('irparahome').addEventListener('click', (event) => {
      event.preventDefault(); ipcRenderer.send('irparahome');});

      document.getElementById('irparaestoque').addEventListener('click', (event) => {
        event.preventDefault(); ipcRenderer.send('irparaestoque');});
    
        document.getElementById('irparaVizuEstoque').addEventListener('click', (event) => {
      event.preventDefault(); ipcRenderer.send('irparaVizuEstoque');});

    document.getElementById('irparaRemItens').addEventListener('click', (event) => {
      event.preventDefault(); ipcRenderer.send('irparaRemItens');});

    document.getElementById('irparaFichaProduto').addEventListener('click', (event) => {
      event.preventDefault(); ipcRenderer.send('irparaFichaProduto');});

      document.getElementById('formProduto').addEventListener('submit', function(event) {
    event.preventDefault(); // Previne o comportamento padrão do formulário

    const formData = new FormData(event.target);

    const produtoObj = Object.fromEntries(formData.entries());

    ipcRenderer.send('dadosProduto', produtoObj);
    
});

  </script>
</body>
</html>
